<h2 mat-dialog-title>{{ "ADD_CREW" | translate }}</h2>
<form [formGroup]="crewForm" (ngSubmit)="onSave()" class="crew-form">
  <div class="form-content">
    <mat-form-field>
      <mat-label>{{ "FIRST_NAME" | translate }}</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "LAST_NAME" | translate }}</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "NATIONALITY" | translate }}</mat-label>
      <input matInput formControlName="nationality" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "TITLE" | translate }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "DAYS_ON_BOARD" | translate }}</mat-label>
      <input matInput type="number" formControlName="daysOnBoard" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "DAILY_RATE" | translate }}</mat-label>
      <input matInput type="number" formControlName="dailyRate" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "CURRENCY" | translate }}</mat-label>
      <input matInput formControlName="currency" />
    </mat-form-field>
  </div>

  <div class="dialog-actions">
    <button mat-button type="submit">{{ "SAVE" | translate }}</button>
    <button mat-button type="button" (click)="onCancel()">
      {{ "CANCEL" | translate }}
    </button>
  </div>
</form>
